<div class="row">
  <div class="col-md-6">
    <!-- <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p> -->

    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Titre</label>
        <input type="text" class="form-control" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Synopsis</label>
        <textarea class="form-control" rows="3" [(ngModel)]="synopsis" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
    </form>

    <button type="button" class="btn btn-success" (click)="saveIdea()">Enregistrer</button>


  </div>

  <div class="col-md-6">
    <form>
      <img *ngIf="url !== ''" [src]="url" class="img-fluid" alt="Responsive image">
      <div class="form-group">
        <label for="exampleFormControlFile1" jhiTranslate="idea.input">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="handleFileSelect($event); readUrl($event)">
      </div>

      <div *ngIf="labels">
        <span class="badge badge-primary labels" *ngFor="let l of labels">{{ l.description}}</span>
      </div>
    </form>
  </div>

</div>